/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v17-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/lato-v17-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../fonts/lato-v17-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("../fonts/lato-v17-latin-regular.woff") format("woff"),
    /* Modern Browsers */
    url("../fonts/lato-v17-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("../fonts/lato-v17-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */
}

.lato {
  font-family: Lato;
}

.logoFin {
  width: 30%;
  margin-top: 10%;
  margin-left: 35%;
}

.align {
  text-align: center;
}

.paragraph {
  font-size: 18px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.blue {
  color: #136462;
}

.md-layout-item .h4 {
  font-family: Lato;
  color: red;
}

.md-info {
  background-color: #136462;
}

.footer-color {
  background-color: #88d4cf;
  color: white;
}

.logo {
  width: 12%;
}