<!--

=========================================================
* Vue Material Kit - v1.2.2
=========================================================

* Product Page: https://www.creative-tim.com/product/vue-material-kit
* Copyright 2019 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://github.com/creativetimofficial/vue-material-kit/blob/master/LICENSE.md)

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>logo_shin_black.png" />
    <title>Shin'</title>

    <!--  Fonts and icons     -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
    />
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <noscript>
      <strong>
        We're sorry but vue-material-kit doesn't work properly without
        JavaScript enabled. Please enable it to continue.
      </strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
