<template>
  <div class="wrapper">
    <div class="section page-header header-filter" :style="headerStyle">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-50 md-small-size-66 md-xsmall-size-0 md-medium-size-40 mx-auto"
          >
            <login-card header-color="orange">
              <h4 slot="title" class="card-title">Nous contacter</h4>
              <md-button
                slot="buttons"
                href="https://www.facebook.com/Shin-110743351102660"
                target="_blank"
                class="md-just-icon md-simple md-white"
              >
                <i class="fab fa-facebook-square"></i>
              </md-button>
              <md-button
                slot="buttons"
                href="https://twitter.com/home?lang=fr"
                target="_blank"
                class="md-just-icon md-simple md-white"
              >
                <i class="fab fa-twitter"></i>
              </md-button>
              <md-button
                slot="buttons"
                href="https://www.instagram.com/shinagency1/?hl=fr"
                target="_blank"
                class="md-just-icon md-simple md-white"
              >
                <i class="fab fa-instagram"></i>
              </md-button>
              <p slot="description" class="description">Or Be Classical</p>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>face</md-icon>
                <label>Nom...</label>
                <md-input v-model="firstname"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>email</md-icon>
                <label>Email...</label>
                <md-input v-model="email" type="email"></md-input>
              </md-field>
              <md-field class="md-form-group" slot="inputs">
                <md-icon>subject</md-icon>
                <label>Votre Message.</label>
                <md-textarea v-model="textarea" required></md-textarea>
              </md-field>
              <md-button slot="footer" class="md-simple md-success md-lg">
                Send
              </md-button>
            </login-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { LoginCard } from "@/components";

export default {
  components: {
    LoginCard,
  },
  bodyClass: "login-page",
  data() {
    return {
      firstname: null,
      email: null,
      password: null,
    };
  },
  props: {
    header: {
      backgroundColor: String,
      type: String,
      default: require("@/assets/img/bg2.jpg"),
    },
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`,
      };
    },
  },
};
</script>

<style lang="css"></style>
