<template>
  <div class="wrapper">
    <parallax class="page-header header-filter" :style="headerStyle">
      <div class="md-layout">
        <div class="md-layout-item">
          <div class="image-wrapper">
            <div class="brand">
              <h1 class="lato">SHIN'</h1>
              <h3>しん</h3>
            </div>
          </div>
        </div>
      </div>
    </parallax>
    <div class="main lato main-raised">
      <div class="section section-basic">
        <div class="section">
          <div class="container">
            <typography-images></typography-images>
          </div>
          <div class="container align">
            <!-- <img class="logoFin" src="../assets/img/logo_shin_colors.png" /> -->
            <img class="logoFin" src="../assets/img/logo_shin_black.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TypographyImages from "./components/TypographyImagesSection";

export default {
  components: {
    TypographyImages,
  },
  name: "index",
  bodyClass: "index-page",
  props: {
    background: {
      type: String,
      default: require("@/assets/img/nature-3.jpg"),
    },
    signup: {
      type: String,
      default: require("@/assets/img/city.jpg"),
    },
    landing: {
      type: String,
      default: require("@/assets/img/landing.jpg"),
    },
    profile: {
      type: String,
      default: require("@/assets/img/profile.jpg"),
    },
  },
  data() {
    return {
      firstname: null,
      email: null,
      password: null,
      leafShow: false,
    };
  },
  methods: {
    leafActive() {
      if (window.innerWidth < 768) {
        this.leafShow = false;
      } else {
        this.leafShow = true;
      }
    },
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.background})`,
      };
    },
    signupImage() {
      return {
        backgroundImage: `url(${this.signup})`,
      };
    },
  },
  mounted() {
    this.leafActive();
    window.addEventListener("resize", this.leafActive);
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.leafActive);
  },
};
</script>
<style lang="scss">
.section-download {
  .md-button + .md-button {
    margin-left: 5px;
  }
}

@media all and (min-width: 991px) {
  .btn-container {
    display: flex;
  }
}
</style>
