<template>
  <div class="wrapper lato">
    <div id="typography">
      <div class="md-layout">
        <div class="md-layout-item">
          <h1 class="lato blue">Nous</h1>
          <br />
          <p class="lato paragraph">
            SHIN' est une agence de communication consulting bas&eacute;e sur
            Aix-en-Provence.
            <br />
            SHIN' [しん] est un mot d'origine Japonaise regroupant plusieurs
            valeurs repr&eacute;sentant tout &agrave; fait ce que nous sommes.
            <br />
            Exprim&eacute; de diff&eacute;rentes mani&egrave;res, SHIN' (新)
            peut signifier "nouveau / n&eacute;o-", mais &eacute;galement
            fid&eacute;lit&eacute;, sinc&eacute;rit&eacute;, confiance (信).
            <br />
            Pour nous l'&eacute;coute du client est primordiale pour comprendre
            pleinement ses objectifs et l'accompagner dans des projets qui lui
            ressemble tout en l'aidant &agrave; se r&eacute;inventer.
            <br />
            Compos&eacute;e de plusieurs experts dans leur domaine, SHIN' vous
            propose ses services de conseil encommunication et marketing afin de
            r&eacute;pondre &agrave; vos besoins au travers d'i&eacute;des
            cr&eacute;atives et innovantes. Notre &eacute;quipe ne cesse de se
            former dans leur domaine d'expertise afin de vous proposer des
            solutions qui vous ressemble avec une pointe d'originalit&eacute;.
            <br />
            <b>Notre objectif :</b>
            &eacute;laborer une strat&eacute;gie claire et efficace, pour vous
            permettre de fid&eacute;liser votre client&egrave;le et surprendre
            vos nouveaux prospects.
          </p>
        </div>
      </div>
      <div class="md-layout">
        <div class="md-layout-item">
          <h1 class="lato blue">Pourquoi choisir SHIN' ?</h1>
          <div class="space-50"></div>
          <h3 class="lato blue">Cr&eacute;ative et r&eacute;active</h3>
          <br />
          <p class="lato paragraph">
            Travailler avec SHIN' c'est se laisser surprendre pardes
            id&eacute;es novatrices et profiter de la richesse et du dynamisme
            de la jeunesse.
            <br />
            C'est avec r&eacute;activit&eacute; que nos experts s'engagent
            &agrave; trouver la solution &agrave; votre probl&egrave;me avant
            qu'il en soit un.
          </p>
          <div class="space-50"></div>
          <h3 class="lato blue center">Coh&eacute;rente et efficace</h3>
          <div class="space-50"></div>
          <p class="lato paragraph center">
            Avec SHIN', le client est plac&eacute; au centre desd&eacute;cisions
            pour vous garantir un plan decommunication qui vous ressemble.
            <br />
            En prenant compte de l'environnement concurrentiel marketing de
            votre probl&eacute;matique, nous d&eacute;finirons d'un fil rouge
            pour permettra &agrave; l’ensemble de vos supports et actions
            decommunication d’être raccords, pertinents et &agrave; l'image de
            votre marque !
          </p>
          <div class="space-50"></div>
          <h3 class="lato blue right">Innovante et connectée</h3>
          <br />
          <p class="lato paragraph right">
            Selon SHIN' les difficultés sont des occasionsparfaites pour donner
            plus de place à l'innovation dans votre projet.
            <br />
            C'est pourquoi notre ambition est de vous aider à vous réinventer !
          </p>
        </div>
      </div>
    </div>
    <div class="space-50"></div>
    <div id="images">
      <div class="title">
        <h1 class="lato blue">Notre equipe</h1>
      </div>
      <div class="md-layout">
        <div
          class="md-layout-item md-size-25 md-xsmall-size-100"
          :class="{ 'text-center': responsive }"
        >
          <h4 class="lato">Thomas Vergine</h4>
          <img
            :src="thomas"
            alt="Thomas Vergine"
            class="rounded"
            :class="{ 'responsive-image': responsive }"
          />
          <small>Team Manager</small>
        </div>
        <div
          class="md-layout-item md-size-25 md-xsmall-size-100"
          :class="{ 'text-center': responsive }"
        >
          <h4 class="lato">Jules Coeur</h4>
          <img
            :src="jules"
            alt="Jules Coeur"
            class="rounded jules"
            :class="{ 'responsive-image': responsive }"
          />
          <small>Directeur Artistique</small>
        </div>
        <div
          class="md-layout-item md-size-25 md-xsmall-size-100"
          :class="{ 'text-center': responsive }"
        >
          <h4 class="lato">Na&eacute;mie Michel</h4>
          <img
            :src="naemie"
            alt="Naémie Michel"
            class="rounded"
            :class="{ 'responsive-image': responsive }"
          />
          <small>Marketing</small>
        </div>
        <div
          class="md-layout-item md-size-25 md-xsmall-size-100"
          :class="{ 'text-center': responsive }"
        >
          <h4 class="lato">Hugo Solanas</h4>
          <img
            :src="hugo"
            alt="Hugo Solanas"
            class="rounded"
            :class="{ 'responsive-image': responsive }"
          />
          <small>Community Manager</small>
        </div>
      </div>
      <div class="space-50"></div>

      <div class="md-layout">
        <div
          class="md-layout-item md-size-25 md-xsmall-size-100"
          :class="{ 'text-center': responsive }"
        >
          <h4 class="lato">Lucas Zakarian</h4>
          <img
            :src="zakarian"
            alt="Lucas Zakarian"
            class="rounded"
            :class="{ 'responsive-image': responsive }"
          />
          <small>Community Manager</small>
        </div>
        <div
          class="md-layout-item md-size-25 md-xsmall-size-100"
          :class="{ 'text-center': responsive }"
        >
          <h4 class="lato">Rebecca Attia</h4>
          <img
            :src="rebecca"
            alt="Rebecca Attia"
            class="rounded"
            :class="{ 'responsive-image': responsive }"
          />
          <small>Responsable Communication</small>
        </div>
        <div
          class="md-layout-item md-size-25 md-xsmall-size-100"
          :class="{ 'text-center': responsive }"
        >
          <h4 class="lato">Matthieu Aslan</h4>
          <img
            :src="matthieu"
            alt="Matthieu Aslan"
            class="rounded"
            :class="{ 'responsive-image': responsive }"
          />
          <small>Technicien infrastructure</small>
        </div>
        <div
          class="md-layout-item md-size-25 md-xsmall-size-100"
          :class="{ 'text-center': responsive }"
        >
          <h4 class="lato">Anais Tasca</h4>
          <img
            :src="anais"
            alt="Anais Tasca"
            class="rounded"
            :class="{ 'responsive-image': responsive }"
          />
          <small>Responsable Marketing</small>
        </div>
      </div>
      <div class="space-50"></div>
      <div class="md-layout">
        <div
          class="md-layout-item md-size-25 md-xsmall-size-100"
          :class="{ 'text-center': responsive }"
        >
          <h4 class="lato">Lucas Cecchini</h4>
          <img
            :src="cecchini"
            alt="Lucas Cecchini"
            class="rounded"
            :class="{ 'responsive-image': responsive }"
          />

          <small>Technicien infrastructure</small>
        </div>
        <div
          class="md-layout-item md-size-25 md-xsmall-size-100"
          :class="{ 'text-center': responsive }"
        >
          <h4 class="lato">Nicolas Gerard</h4>
          <img
            :src="nicolas"
            alt="Nicolas Gerard"
            class="rounded"
            :class="{ 'responsive-image': responsive }"
          />
          <small>Lead D&eacute;velopper</small>
        </div>
        <div
          class="md-layout-item md-size-25 md-xsmall-size-100"
          :class="{ 'text-center': responsive }"
        >
          <h4 class="lato">Lucas Brocheton</h4>
          <img
            :src="lucas"
            alt="Lucas Brocheton"
            class="rounded"
            :class="{ 'responsive-image': responsive }"
          />
          <small>Responsable infrastructure</small>
        </div>
        <div
          class="md-layout-item md-size-25 md-xsmall-size-100"
          :class="{ 'text-center': responsive }"
        >
          <h4 class="lato">Maxime Saulnier</h4>
          <img
            :src="maxime"
            alt="Maxime Saulnier"
            class="rounded"
            :class="{ 'responsive-image': responsive }"
          />
          <small>Community Manager</small>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    thomas: {
      type: String,
      default: require("@/assets/img/team/Thomas.png"),
    },
    jules: {
      type: String,
      default: require("@/assets/img/team/Jules.png"),
    },
    maxime: {
      type: String,
      default: require("@/assets/img/team/Maxime.png"),
    },
    naemie: {
      type: String,
      default: require("@/assets/img/leaf3.png"),
    },
    hugo: {
      type: String,
      default: require("@/assets/img/team/Hugo.png"),
    },
    zakarian: {
      type: String,
      default: require("@/assets/img/team/LucasZ.png"),
    },
    rebecca: {
      type: String,
      default: require("@/assets/img/team/Rebecca.png"),
    },
    anais: {
      type: String,
      default: require("@/assets/img/team/Anais.png"),
    },
    matthieu: {
      type: String,
      default: require("@/assets/img/team/Matthieu.png"),
    },
    lucas: {
      type: String,
      default: require("@/assets/img/team/Lucas.png"),
    },
    cecchini: {
      type: String,
      default: require("@/assets/img/team/LucasC.png"),
    },
    nicolas: {
      type: String,
      default: require("@/assets/img/team/Nicolas.png"),
    },
  },
  data() {
    return {
      image: require("@/assets/img/faces/avatar.jpg"),
      responsive: false,
    };
  },
  methods: {
    onResponsiveInverted() {
      if (window.innerWidth < 600) {
        this.responsive = true;
      } else {
        this.responsive = false;
      }
    },
  },
  mounted() {
    this.onResponsiveInverted();
    window.addEventListener("resize", this.onResponsiveInverted);
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.onResponsiveInverted);
  },
};
</script>

<style lang="css"></style>
